In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data scientist.csv')

In [3]:
df.head(10)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,People Analytics Data Scientist,Employer Provided Salary:$51K - $124K,"At PayPal (NASDAQ: PYPL), we believe that ever...",3.9,PayPal\n3.9,"San Jose, CA","San Jose, CA",10000+ Employees,1998,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD),-1
1,1,Data Scientist,Employer Provided Salary:$128K,"Aetna Resources LLC, a CVS Health company, is ...",3.1,CVS Health\n3.1,"New York, NY","New York, NY",10000+ Employees,1963,Company - Public,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),-1
2,2,Junior Data Scientist/ Data Analytics - Full T...,$73K - $111K (Glassdoor est.),"Job Type:\nFull Time\nLocaton:\nLittle Elm, TX...",5.0,RSA Tech\n5.0,"Little Elm, TX","Little Elm, TX",51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),-1
3,3,Data Scientist,$73K - $111K (Glassdoor est.),THIS IS BLUE APRON\n\nChefs around the world w...,3.6,Blue Apron\n3.6,"New York, NY","New York, NY",1001 to 5000 Employees,2012,Company - Public,Food & Beverage Stores,Retail & Wholesale,$100 to $500 million (USD),-1
4,4,Data Scientist,$73K - $111K (Glassdoor est.),About Pinterest:\nMillions of people across th...,4.0,Pinterest\n4.0,Remote,Remote,1001 to 5000 Employees,2010,Company - Public,Internet & Web Services,Information Technology,$100 to $500 million (USD),-1
5,5,Data Scientist - REMOTE,Employer Provided Salary:$146K,Company :\nHighmark Inc.\nJob Description :\nJ...,3.7,Highmark Inc.\n3.7,Pennsylvania,Pennsylvania,10000+ Employees,Nonprofit Organization,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),$100 to $500 million (USD),-1
6,6,Sr Data Scientist,Employer Provided Salary:$153K,"Aetna Resources LLC, a CVS Health company, is ...",3.1,CVS Health\n3.1,"New York, NY","New York, NY",10000+ Employees,1963,Company - Public,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),-1
7,7,Data Scientist,Employer Provided Salary:$153K,JOB SUMMARY\nResponsible for developing data-d...,3.3,Spectrum\n3.3,"Stamford, CT","Stamford, CT",10000+ Employees,2016,Company - Public,Telecommunications Services,Telecommunications,$10+ billion (USD),-1
8,8,Data Scientist (All Levels),$77K - $118K (Glassdoor est.),Responsibilities:\nNoblis is seeking to hire D...,4.5,Noblis\n4.5,"Reston, VA","Reston, VA",1001 to 5000 Employees,1996,Nonprofit Organization,Business Consulting,Management & Consulting,$100 to $500 million (USD),-1
9,9,Data Scientist,Employer Provided Salary:$94K - $103K,We are looking for a Data Scientist to analyze...,4.5,KesarWeb,"Portland, OR","Portland, OR",1 to 50 Employees,Company - Private,Unknown / Non-Applicable,Business Consulting,Management & Consulting,$100 to $500 million (USD),-1

In [4]:
#salary parsing 

df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

df = df[df['Salary Estimate'] != '-1']
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$',''))

min_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

df['min_salary'] = min_hr.apply(lambda x: int(float(x.split('-')[0])))
df['max_salary'] = min_hr.apply(lambda x: int(float(x.split('-')[-1])))
df['avg_salary'] =(df.min_salary+df.max_salary)/2

In [5]:
df.head(10)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary
0,0,People Analytics Data Scientist,Employer Provided Salary:$51K - $124K,"At PayPal (NASDAQ: PYPL), we believe that ever...",3.9,PayPal\n3.9,"San Jose, CA","San Jose, CA",10000+ Employees,1998,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD),-1,0,1,51,124,87.5
1,1,Data Scientist,Employer Provided Salary:$128K,"Aetna Resources LLC, a CVS Health company, is ...",3.1,CVS Health\n3.1,"New York, NY","New York, NY",10000+ Employees,1963,Company - Public,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),-1,0,1,128,128,128.0
2,2,Junior Data Scientist/ Data Analytics - Full T...,$73K - $111K (Glassdoor est.),"Job Type:\nFull Time\nLocaton:\nLittle Elm, TX...",5.0,RSA Tech\n5.0,"Little Elm, TX","Little Elm, TX",51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),-1,0,0,73,111,92.0
3,3,Data Scientist,$73K - $111K (Glassdoor est.),THIS IS BLUE APRON\n\nChefs around the world w...,3.6,Blue Apron\n3.6,"New York, NY","New York, NY",1001 to 5000 Employees,2012,Company - Public,Food & Beverage Stores,Retail & Wholesale,$100 to $500 million (USD),-1,0,0,73,111,92.0
4,4,Data Scientist,$73K - $111K (Glassdoor est.),About Pinterest:\nMillions of people across th...,4.0,Pinterest\n4.0,Remote,Remote,1001 to 5000 Employees,2010,Company - Public,Internet & Web Services,Information Technology,$100 to $500 million (USD),-1,0,0,73,111,92.0
5,5,Data Scientist - REMOTE,Employer Provided Salary:$146K,Company :\nHighmark Inc.\nJob Description :\nJ...,3.7,Highmark Inc.\n3.7,Pennsylvania,Pennsylvania,10000+ Employees,Nonprofit Organization,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),$100 to $500 million (USD),-1,0,1,146,146,146.0
6,6,Sr Data Scientist,Employer Provided Salary:$153K,"Aetna Resources LLC, a CVS Health company, is ...",3.1,CVS Health\n3.1,"New York, NY","New York, NY",10000+ Employees,1963,Company - Public,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),-1,0,1,153,153,153.0
7,7,Data Scientist,Employer Provided Salary:$153K,JOB SUMMARY\nResponsible for developing data-d...,3.3,Spectrum\n3.3,"Stamford, CT","Stamford, CT",10000+ Employees,2016,Company - Public,Telecommunications Services,Telecommunications,$10+ billion (USD),-1,0,1,153,153,153.0
8,8,Data Scientist (All Levels),$77K - $118K (Glassdoor est.),Responsibilities:\nNoblis is seeking to hire D...,4.5,Noblis\n4.5,"Reston, VA","Reston, VA",1001 to 5000 Employees,1996,Nonprofit Organization,Business Consulting,Management & Consulting,$100 to $500 million (USD),-1,0,0,77,118,97.5
9,9,Data Scientist,Employer Provided Salary:$94K - $103K,We are looking for a Data Scientist to analyze...,4.5,KesarWeb,"Portland, OR","Portland, OR",1 to 50 Employees,Company - Private,Unknown / Non-Applicable,Business Consulting,Management & Consulting,$100 to $500 million (USD),-1,0,1,94,103,98.5

In [6]:
#Company name text only
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-3], axis = 1)

In [7]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary,company_txt
0,0,People Analytics Data Scientist,Employer Provided Salary:$51K - $124K,"At PayPal (NASDAQ: PYPL), we believe that ever...",3.9,PayPal\n3.9,"San Jose, CA","San Jose, CA",10000+ Employees,1998,...,Internet & Web Services,Information Technology,$10+ billion (USD),-1,0,1,51,124,87.5,PayPal\n
1,1,Data Scientist,Employer Provided Salary:$128K,"Aetna Resources LLC, a CVS Health company, is ...",3.1,CVS Health\n3.1,"New York, NY","New York, NY",10000+ Employees,1963,...,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),-1,0,1,128,128,128.0,CVS Health\n
2,2,Junior Data Scientist/ Data Analytics - Full T...,$73K - $111K (Glassdoor est.),"Job Type:\nFull Time\nLocaton:\nLittle Elm, TX...",5.0,RSA Tech\n5.0,"Little Elm, TX","Little Elm, TX",51 to 200 Employees,Company - Public,...,Health Care Services & Hospitals,Healthcare,$10+ billion (USD),-1,0,0,73,111,92.0,RSA Tech\n
3,3,Data Scientist,$73K - $111K (Glassdoor est.),THIS IS BLUE APRON\n\nChefs around the world w...,3.6,Blue Apron\n3.6,"New York, NY","New York, NY",1001 to 5000 Employees,2012,...,Food & Beverage Stores,Retail & Wholesale,$100 to $500 million (USD),-1,0,0,73,111,92.0,Blue Apron\n
4,4,Data Scientist,$73K - $111K (Glassdoor est.),About Pinterest:\nMillions of people across th...,4.0,Pinterest\n4.0,Remote,Remote,1001 to 5000 Employees,2010,...,Internet & Web Services,Information Technology,$100 to $500 million (USD),-1,0,0,73,111,92.0,Pinterest\n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,Jr Data Scientist,$77K - $113K (Glassdoor est.),"PacArctic,LLC, a Koniag Government Services co...",4.0,PacArctic LLC\n4.0,"Washington, DC","Washington, DC",501 to 1000 Employees,Company - Public,...,Advertising & Public Relations,Media & Communication,$25 to $100 million (USD),-1,0,0,77,113,95.0,PacArctic LLC\n
96,96,Applied Scientist - Ad Market Dynamic (Remote),Employer Provided Salary:$106K - $235K,Summary\nYelp engineering culture is driven by...,3.5,Yelp\n3.5,Remote,Remote,5001 to 10000 Employees,2004,...,Internet & Web Services,Information Technology,$500 million to $1 billion (USD),-1,0,1,106,235,170.5,Yelp\n
97,97,Data Scientist,Employer Provided Salary:$70K - $105K,"Job Summary\nUnder minimal supervision, suppor...",3.6,Denver Health\n3.6,"Denver, CO","Denver, CO",5001 to 10000 Employees,1860,...,Health Care Services & Hospitals,Healthcare,$100 to $500 million (USD),-1,0,1,70,105,87.5,Denver Health\n
98,98,"Data Scientist II, Associate",$78K - $109K (Glassdoor est.),AbbVie’s Operations Business Insights (OBI) gr...,3.9,ABBVIE\n3.9,"Crystal Lake, IL","Crystal Lake, IL",10000+ Employees,2013,...,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,$10+ billion (USD),-1,0,0,78,109,93.5,ABBVIE\n
99,99,Data Scientist,Employer Provided Salary:$88K - $132K,Please email hr_business_partners@bcbsri.org i...,3.6,Blue Cross & Blue Shield of Rhode Island\n3.6,"Providence, RI","Providence, RI",501 to 1000 Employees,1939,...,Insurance Carriers,Insurance,Unknown / Non-Applicable,-1,0,1,88,132,110.0,Blue Cross & Blue Shield of Rhode Island\n

In [8]:
#state field 
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[-1])
df.job_state.value_counts()

df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

In [9]:
#python
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [10]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary,company_txt,job_state,same_state,python_yn
0,0,People Analytics Data Scientist,Employer Provided Salary:$51K - $124K,"At PayPal (NASDAQ: PYPL), we believe that ever...",3.9,PayPal\n3.9,"San Jose, CA","San Jose, CA",10000+ Employees,1998,...,-1,0,1,51,124,87.5,PayPal\n,CA,1,0
1,1,Data Scientist,Employer Provided Salary:$128K,"Aetna Resources LLC, a CVS Health company, is ...",3.1,CVS Health\n3.1,"New York, NY","New York, NY",10000+ Employees,1963,...,-1,0,1,128,128,128.0,CVS Health\n,NY,1,1
2,2,Junior Data Scientist/ Data Analytics - Full T...,$73K - $111K (Glassdoor est.),"Job Type:\nFull Time\nLocaton:\nLittle Elm, TX...",5.0,RSA Tech\n5.0,"Little Elm, TX","Little Elm, TX",51 to 200 Employees,Company - Public,...,-1,0,0,73,111,92.0,RSA Tech\n,TX,1,0
3,3,Data Scientist,$73K - $111K (Glassdoor est.),THIS IS BLUE APRON\n\nChefs around the world w...,3.6,Blue Apron\n3.6,"New York, NY","New York, NY",1001 to 5000 Employees,2012,...,-1,0,0,73,111,92.0,Blue Apron\n,NY,1,0
4,4,Data Scientist,$73K - $111K (Glassdoor est.),About Pinterest:\nMillions of people across th...,4.0,Pinterest\n4.0,Remote,Remote,1001 to 5000 Employees,2010,...,-1,0,0,73,111,92.0,Pinterest\n,Remote,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,Jr Data Scientist,$77K - $113K (Glassdoor est.),"PacArctic,LLC, a Koniag Government Services co...",4.0,PacArctic LLC\n4.0,"Washington, DC","Washington, DC",501 to 1000 Employees,Company - Public,...,-1,0,0,77,113,95.0,PacArctic LLC\n,DC,1,0
96,96,Applied Scientist - Ad Market Dynamic (Remote),Employer Provided Salary:$106K - $235K,Summary\nYelp engineering culture is driven by...,3.5,Yelp\n3.5,Remote,Remote,5001 to 10000 Employees,2004,...,-1,0,1,106,235,170.5,Yelp\n,Remote,1,0
97,97,Data Scientist,Employer Provided Salary:$70K - $105K,"Job Summary\nUnder minimal supervision, suppor...",3.6,Denver Health\n3.6,"Denver, CO","Denver, CO",5001 to 10000 Employees,1860,...,-1,0,1,70,105,87.5,Denver Health\n,CO,1,0
98,98,"Data Scientist II, Associate",$78K - $109K (Glassdoor est.),AbbVie’s Operations Business Insights (OBI) gr...,3.9,ABBVIE\n3.9,"Crystal Lake, IL","Crystal Lake, IL",10000+ Employees,2013,...,-1,0,0,78,109,93.5,ABBVIE\n,IL,1,1
99,99,Data Scientist,Employer Provided Salary:$88K - $132K,Please email hr_business_partners@bcbsri.org i...,3.6,Blue Cross & Blue Shield of Rhode Island\n3.6,"Providence, RI","Providence, RI",501 to 1000 Employees,1939,...,-1,0,1,88,132,110.0,Blue Cross & Blue Shield of Rhode Island\n,RI,1,0

In [11]:
#r studio 
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.R_yn.value_counts()

#spark 
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

#aws 
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

#excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

df.columns

df_out = df.drop(['Unnamed: 0'], axis =1)

df_out.to_csv('salary_data_cleaned.csv',index = False)

In [12]:
df_out

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,max_salary,avg_salary,company_txt,job_state,same_state,python_yn,R_yn,spark,aws,excel
0,People Analytics Data Scientist,Employer Provided Salary:$51K - $124K,"At PayPal (NASDAQ: PYPL), we believe that ever...",3.9,PayPal\n3.9,"San Jose, CA","San Jose, CA",10000+ Employees,1998,Company - Public,...,124,87.5,PayPal\n,CA,1,0,0,0,0,0
1,Data Scientist,Employer Provided Salary:$128K,"Aetna Resources LLC, a CVS Health company, is ...",3.1,CVS Health\n3.1,"New York, NY","New York, NY",10000+ Employees,1963,Company - Public,...,128,128.0,CVS Health\n,NY,1,1,0,0,1,0
2,Junior Data Scientist/ Data Analytics - Full T...,$73K - $111K (Glassdoor est.),"Job Type:\nFull Time\nLocaton:\nLittle Elm, TX...",5.0,RSA Tech\n5.0,"Little Elm, TX","Little Elm, TX",51 to 200 Employees,Company - Public,Unknown / Non-Applicable,...,111,92.0,RSA Tech\n,TX,1,0,0,0,0,0
3,Data Scientist,$73K - $111K (Glassdoor est.),THIS IS BLUE APRON\n\nChefs around the world w...,3.6,Blue Apron\n3.6,"New York, NY","New York, NY",1001 to 5000 Employees,2012,Company - Public,...,111,92.0,Blue Apron\n,NY,1,0,0,0,1,1
4,Data Scientist,$73K - $111K (Glassdoor est.),About Pinterest:\nMillions of people across th...,4.0,Pinterest\n4.0,Remote,Remote,1001 to 5000 Employees,2010,Company - Public,...,111,92.0,Pinterest\n,Remote,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Jr Data Scientist,$77K - $113K (Glassdoor est.),"PacArctic,LLC, a Koniag Government Services co...",4.0,PacArctic LLC\n4.0,"Washington, DC","Washington, DC",501 to 1000 Employees,Company - Public,Unknown / Non-Applicable,...,113,95.0,PacArctic LLC\n,DC,1,0,0,0,0,0
96,Applied Scientist - Ad Market Dynamic (Remote),Employer Provided Salary:$106K - $235K,Summary\nYelp engineering culture is driven by...,3.5,Yelp\n3.5,Remote,Remote,5001 to 10000 Employees,2004,Company - Public,...,235,170.5,Yelp\n,Remote,1,0,0,0,0,0
97,Data Scientist,Employer Provided Salary:$70K - $105K,"Job Summary\nUnder minimal supervision, suppor...",3.6,Denver Health\n3.6,"Denver, CO","Denver, CO",5001 to 10000 Employees,1860,Nonprofit Organization,...,105,87.5,Denver Health\n,CO,1,0,0,0,0,0
98,"Data Scientist II, Associate",$78K - $109K (Glassdoor est.),AbbVie’s Operations Business Insights (OBI) gr...,3.9,ABBVIE\n3.9,"Crystal Lake, IL","Crystal Lake, IL",10000+ Employees,2013,Company - Public,...,109,93.5,ABBVIE\n,IL,1,1,0,0,0,0
99,Data Scientist,Employer Provided Salary:$88K - $132K,Please email hr_business_partners@bcbsri.org i...,3.6,Blue Cross & Blue Shield of Rhode Island\n3.6,"Providence, RI","Providence, RI",501 to 1000 Employees,1939,Nonprofit Organization,...,132,110.0,Blue Cross & Blue Shield of Rhode Island\n,RI,1,0,0,0,1,0